@tailwind base;
@import "./colors.css";
@tailwind components;
@tailwind utilities;

@layer components {
  .font-monTserrat {
    font-family: "MonTserrat";
  }
  .text-primary {
    color: var(--mainColor);
  }
  .bg-primary {
    background-color: var(--mainColor);
  }
  .border-primary {
    border-color: var(--mainColor);
  }
}
