@keyframes fadeIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.markdown-container {
  color: black;
}

.markdown-container p {
  margin: 0.5rem;
}

.markdown-container ul {
  list-style: circle;
  margin: 0 2rem;
}
.markdown-container li {
  margin: 0.4rem 0;
}

.animate-show {
  animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.animate-hide {
  animation-duration: 0.4s;
  animation-name: fadeOut;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
