.want-change-accountant-list {
  list-style: none; /* Remove default bullets */
}
.want-change-accountant-list li {
  margin: 1rem;
}

.want-change-accountant-list li::before {
  content: "\2022";
  color: #033f76;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
