.clients-opinion-container {
  position: relative;
  background-image: url("../../../static/OpinionsImage/opinion-backgroundx400.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.clients-opinion-container::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 401px) {
  .clients-opinion-container {
    background-image: url("../../../static/OpinionsImage/opinion-backgroundx800.jpg");
  }
}
@media (min-width: 801px) {
  .clients-opinion-container {
    background-image: url("../../../static/OpinionsImage/opinion-backgroundx1280.jpg");
  }
}
